libssh*/win32/Debug*
libssh*/win32/Release*
openssl*/out32*
openssl*/tmp32*

*.htm
*.exe
*.manifest
*.res
*.ilk
*.pdb
*.dep
*.obj
*.exe
*.idb
*.suo
*.user
*.ncb
*.rsp
*.pdb
*.pgd
pgort90.dll
*.pgc
*.ilk
*.dll
*.lib
*.exp