libssh*/win32/Debug*
libssh*/win32/Release*
openssl*/out32*
openssl*/tmp32*
apache-log4cxx*/Release
apache-log4cxx*/Debug
apr/Lib*/*
apr-util/Lib*/*
yaml-cpp*/CMakeFiles
yaml-cpp*/test
yaml-cpp*/util
yaml-cpp*/yaml-cpp.dir


*.htm
*.exe
*.manifest
*.res
*.ilk
*.pdb
*.dep
*.obj
*.exe
*.idb
*.suo
*.user
*.ncb
*.rsp
*.pdb
*.pgd
pgort90.dll
*.pgc
*.ilk
*.dll
*.lib
*.exp